table{
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
}

td{
	border: solid 1px;
	border-color: black;
	font-size: 0;
}

header, footer{
	color: white;
	text-align: center;
	width: 750px;
	margin-left: auto;
	margin-right: auto;
	border: 2px black solid;
	border-radius: 20px;
	background-color: rgb(192,192,192, 0.7);
}

img{
	width: 250px;
	height: 250px;
}

body{
	font-family: lucida console;
}

img:hover{
	cursor: pointer;
}

#zdj1:hover{
	filter: grayscale(90%);
}

#zdj2:hover{
	filter: sepia(50%);
}

#zdj3:hover{
	filter: saturate(150%);
}

#zdj4:hover{
	filter: brightness(120%);
}

#zdj5:hover{
	filter: saturate(180%);
}

#zdj6:hover{
	filter: contrast(160%);
}

#zdj7:hover{
	filter: blur(2px);
}

#zdj8:hover{
	filter: invert(180%);
}

#zdj9:hover{
	filter: sepia(80%);
}

#background_video{
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
}

/*video background*/
video {
	object-fit: cover;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
}

.viewport-header {
	position: relative;
	text-align: center;
	align-items: center;
	justify-content: center;
}

div#background{
	border: 4px solid white;
	margin: 1% 25% 1% 25%;
	padding-top: 1%;
	padding-bottom: 1%;
	background-color: rgb(192,192,192, 0.6);

	border-color: black;
	border-radius: 20px;
}