table{
	margin-left: auto;
	margin-right: auto;
	border: solid 1px black;
	border-collapse: collapse;

}

td{
	border: solid 1px black;
	border-color: black;
	font-size: 0;

}

header, footer{
	text-align: center;
	background-color: #c8c9c1;
	width: 750px;
	margin-left: auto;
	margin-right: auto;

	border: 3px black solid;
	border-radius: 20px;

}

header:hover, footer:hover{
	background-color: aquamarine;
}

img{
	width: 250px;
	height: 250px;

}

body{
	font-family: lucida console;
}

img:hover{
	cursor: pointer;
}

#zdj1:hover{
	filter: grayscale(90%);
}

#zdj2:hover{
	filter: sepia(50%);
}

#zdj3:hover{
	filter: saturate(150%);
}

#zdj4:hover{
	filter: brightness(120%);
}

#zdj5:hover{
	filter: invert(180%);
}

#zdj6:hover{
	filter: contrast(160%);
}

#zdj7:hover{
	filter: blur(2px);
}

#zdj8:hover{
	filter: saturate(180%);
}

#zdj9:hover{
	filter: sepia(80%);
}

#background_video{
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
}