table{
	margin-left: auto;
	margin-right: auto;
	border: solid 1px black;
	border-collapse: collapse;

}

td{
	border: solid 1px black;
	border-color: black;
	font-size: 0;

}

header, footer{
	text-align: center;
	background-color: #2B9177;
	width: 750px;
	margin-left: auto;
	margin-right: auto;
}

img{
	width: 250px;
	height: 250px;

}

body{
	background-color: #005C45;
	font-family: lucida console
}


#zdj1:hover{
	filter: grayscale(90%);
}

#zdj2:hover{
	filter: sepia(50%);
}

#zdj3:hover{
	filter: saturate(150%);
}